@media screen and (max-width: 1204px) {
  .wrapper {
    padding: 40px 0px 40px 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .navWrapper {
    padding: 15px;

    position: absolute;
    top: 116px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    background-color: #fefafa;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .container {
    padding-top: 15px;
  }
}

@media screen and (min-width: 1205px) {
  .wrapper {
    padding: 44px 0px 27px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .logoWrapper {
    flex-grow: 3;
  }

  .navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-grow: 5;
  }
  .container > button:first-child {
    margin-right: 30px;
  }
}
