.favoriteWrapper {
  position: relative;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.favoriteIcon {
  width: 24px;
  height: 24px;
  fill: #244d4d;
}
.favoriteText {
  position: absolute;
  right: -5px;
  bottom: -5px;
}

@media screen and (max-width: 1204px) {
  .wrapper {
    padding: 40px 0px 40px 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .navWrapper {
    padding: 15px;

    position: absolute;
    top: 116px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    background-color: #fefafa;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .container {
    padding-top: 15px;
    display: flex;
  }
  .favoriteWrapper {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1205px) {
  .wrapper {
    padding: 44px 0px 27px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .logoWrapper {
    flex-grow: 3;
  }

  .navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-grow: 5;
  }
  .container {
    display: flex;
    align-items: center;
    column-gap: 18px;
  }
}
