.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
}

.closeBtn {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;

  border: none;
  border-radius: 50%;

  font-weight: 700;
}

@media screen and (max-width: 1204px) {
  .modalContainer {
    padding: 40px 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
  }
  .closeBtn {
    top: 5px;
    right: 5px;
  }
}

@media screen and (min-width: 1205px) {
  .modalContainer {
    padding: 30px 60px;
    max-width: 600px;
    max-height: 100vh;
  }
}
