@import-normalize;

:root {
  --title-color: #244d4d;
  --text-color: #444444;
  --link-color: #161616;
  --main-bg-color: #d6d6d6;
  --secondary-bg-color: #154444;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--main-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.scroll-hidden {
  overflow: hidden;
  padding-right: 17px;
}
